.be-logo {
  margin-left: -13.65em;
}

.case-logo {
  margin-top: 1.25em;
  width: 11.41em;
  height: 2.41em;
}

.case-descr {
  opacity: 0.5;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 20.708rem;
  margin-top: 2.93em;
}

.ages-number {
  margin-left: -0.87em;

}

.phone-illustration {
  top: 92.3em;
}

.sumbit-btn {
  top: 113.2em;
}