.be-logo {
    margin-left: -6.4em;
}

.case-logo {
    margin-top: 0.9em;
    width: 14em;
    height: 3.08em;
}

.case-descr {
    opacity: 0.5;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    max-width: 20.708rem;
    margin-top: 2.6em;
}

.phone-illustration {
    top: 91em;
}

.sumbit-btn {
    top: 111.8em;
}